.footer {
  height: 100px;
  background-color: #f7f7f7;
  display: flex;
  text-align: center;
  align-items: center;
}
.footer__container {
  padding: 0;
}

.footer__text__svg {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:center;

  @media screen and (min-width: 768px) {
    padding-left:4px;
  }

}
.footer__text {
  color: #545454;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: 768px) {
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    font-size: 16px;
  }
}

.footer__svg {
  fill: #ff6b08;
  margin: 0 10px;

  
}

.footer__text--line {
  text-decoration: underline;
  padding-left: 5px;
}