.gallery {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  row-gap: 20px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    grid-template-columns: repeat(2, 293px);
    row-gap: 30px;
    column-gap: 30px;
    align-content: center;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 274px);
  }
}

.film__card {
}

.film__link {
}

.film__cover {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.film__title,
.film__info {
  color: getColor('accent-secondary');
  text-transform: uppercase;
  @include font(12px, 16px, 500);
}
.film__title {
  margin-top: 10px;
  color: getColor('text-secondary');
  text-transform: uppercase;
}
.film__info {
  color: getColor('text-accent');
}

.film__year {
  border-left: 1px solid getColor('accent');
}
