.header__background-home {
  background: rgba(0, 0, 0, 0.56);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 320px) {
    background-image: url('../images/Header-mobile@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/Header-tablet@2x.jpg');
  }
  @media screen and (min-width: 1024px) {
    background-image: url('../images/Header-desktop@2x.jpg');
  }
}

.header__background-library {
  background: rgba(0, 0, 0, 0.56);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 320px) {
    background-image: url('../images/MyLib-mobile@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/MyLib-tablet@2x.jpg');
  }
  @media screen and (min-width: 1024px) {
    background-image: url('../images/MyLib-desktop@2x.jpg');
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// ============================== БЛОК НАВИГАЦИИ  ==============================
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--white-text-color);
  text-decoration: none;

  @media screen and (min-width: 320px) {
    margin-top: 46px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 41px;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 40px;
  }
}

.header__logo-span {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin-top: 58px;
}

.header__nav-home-link,
.header__nav-library-link {
  text-decoration: none;
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.header__nav-home-link {
  margin-right: 39px;
}

// ================================  БЛОК ПОИСКА(ФОРМА)  ============================
.header__form.disabled {
  display: none;
}

.header__form {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) {
    margin-top: 41px;
    margin-bottom: 44px;
  }
}

.header__search-form {
  display: flex;
  border-bottom: 0.5px solid var(--white-text-color);
  justify-content: space-between;
  @media screen and (min-width: 320px) {
    width: 280px;
    margin-bottom: 22px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  &:hover,
  &:focus-within {
    border-bottom: 0.5px solid var(--accent-color);
  }
  &:hover .header__search-form-input,
  &:hover .header__search-form-input::placeholder,
  &:focus-within .header__search-form-input,
  &:focus-within .header__search-form-input::placeholder {
    color: var(--accent-color);
  }
  &:hover .header__form-btn,
  &:focus-within .header__form-btn {
    background-image: url('../images/search-hover.svg');
  }
}

.header__search-form-input {
  outline: none;
  border-style: none;
  background: inherit;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.header__search-form-input::placeholder {
  color: var(--white-text-color);
}

.header__form-btn {
  cursor: pointer;
  background: inherit;
  background-image: url('../images/search.svg');
  content: '';
  contain: content;
  width: 12px;
  height: 12px;
  outline: none;
  border-style: none;
}

.header__search-error.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header__search-error {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header__search-error-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--error-text-color);
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  top: 14px;
  left: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

// =============================  БЛОК КНОПОК  ====================================
.header__button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  margin-top: 46px;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 287px;
  }
}

.header__button.disabled {
  display: none;
}

.header__btn {
  display: block;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background-color: inherit;
  color: var(--white-text-color);
  opacity: 1;
  transition: opacity var(--transition-delay) var(--default-transition-timing);
  cursor: pointer;
  border: 1px solid var(--white-text-color);
  transition: transform var(--animation-duration) var(--timing-function);
  outline: none;
  @media screen and (min-width: 320px) {
    width: 130px;
    padding: 14px 36px;
  }
  @media screen and (min-width: 768px) {
    width: 136px;
    padding: 14px 38px;
  }
}

.header__btn:hover {
  border: inherit;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  background-color: var(--accent-color);
}

.header__btn:focus,
.header__btn.in-active {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--white-text-color);
  transform: scale(1.03);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
