.team__container {
  position: absolute;
  padding: 40px;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
  transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #f7f5ec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and(min-width: 320px) {
    width: 300px;
  }

  @media screen and(min-width: 768px) {
    width: 730px;
  }

  @media screen and(min-width: 1024px) {
    width: 885px;
  }

  &__icon-box {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: getColor('text-primary');
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #4e5052;
    &:hover {
      color: getColor('text-primary');
      background-color: getColor('accent');
    }
  }

  &__icon-close {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__title {
    color: getColor('text-secondary');
    font-size: 20px;
    font-weight: 600;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 20px;
  }
}

.is-hidden {
  display: none;
  pointer-events: none;
  transform: scale(1.1);
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: getColor('text-primary');
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 10%;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: '';
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: getColor('accent');
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: getColor('accent');
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px getColor('text-primary');
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: getColor('accent');
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social:hover {
  color: #1369ce;
  background-color: #c0c0c0;
}
