<!-- Модальное окно просмотра информации о фильме -->
<template id="modalFilmTemplate">
  <div class="modal__container">
    <button class="modal__close-btn" aria-label="Close">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>

    <div class="modal-wrapper">
      <div class="modal-image">
        <img src="" alt="" width="396" height="478" />
      </div>
      <div class="modal-content">
        <h3>A FISTFUL OF LEAD</h3>
        <dl class="modal-meta">
          <dt>Vote / Votes</dt>
          <dd>
            <span data-attr="avg-rating">7.3</span> <i>/</i>
            <span data-attr="vote-count">1260</span>
          </dd>

          <dt>Popularity</dt>
          <dd data-attr="popularity">100.2</dd>

          <dt>Original Title</dt>
          <dd data-attr="orig-title">A FISTFUL OF LEAD</dd>

          <dt>Genre</dt>
          <dd data-attr="genre">Western</dd>
        </dl>
        <h4>About</h4>
        <p data-attr="overview">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
        </p>
        <div class="button-row">
          <button type="button" class="modal-btn-watched" aria-label="ADD TO WATCHED">
            ADD TO WATCHED
          </button>
          <button type="button" class="modal-btn-queue" aria-label="ADD TO QUEUE">
            ADD TO QUEUE
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
