<div class="container team__container is-hidden">
  <button
    type="button"
    class="team__container__icon-box"
    aria-label="Close"
    data-team__container-close
  >
    <svg class="team__container__icon-close" width="30" height="30">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <h2 class="team__container__title">Our team</h2>
  <ul class="gallery">
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/Alex-Stupak.jpg" alt="Alex Stupak" />
        </div>
        <div class="team-content">
          <h3 class="name">Alex Stupak</h3>
          <h4 class="title">Scrum master</h4>
        </div>
        <a
          href="https://github.com/Alex-Stupak"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/PavloLevchenko.jpg" alt="Pavlo Levchenko" />
        </div>
        <div class="team-content">
          <h3 class="name">Pavlo Levchenko</h3>
          <h4 class="title">Team leader</h4>
        </div>
        <a
          href="https://github.com/PavloLevchenko"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/sergiosergio2.jpg" alt="Serhii Liubchenko" />
        </div>
        <div class="team-content">
          <h3 class="name">Serhii Liubchenko</h3>
          <h4 class="title">Web developer</h4>
        </div>
        <a
          href="https://www.linkedin.com/in/serhii-liubchenko-a28222229/"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >Linkedin</a
        >
      </div>
    </li>
    <li class="gallery__card visually-hidden">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/krimuwka.jpg" alt="Мария Криминская" />
        </div>
        <div class="team-content">
          <h3 class="name">Maryia Kryminska</h3>
          <h4 class="title">Web developer</h4>
        </div>
        <a
          href="https://github.com/krimuwka"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="/images/command/sergey-lateralus.jpg"
            alt="Serhii Yakushchenko"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Serhii Yakushchenko</h3>
          <h4 class="title">Web developer</h4>
        </div>
        <a
          href="https://github.com/sergey-lateralus"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/cr1m3s.jpg" alt="Oleksii Parilov" />
        </div>
        <div class="team-content">
          <h3 class="name">Oleksii Parilov</h3>
          <h4 class="title">Web developer</h4>
        </div>
        <a
          href="https://www.linkedin.com/in/oleksii-parilov-086838bb/"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >Linkedin</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/lanitochka.jpg" alt="Lana Komisarova" />
        </div>
        <div class="team-content">
          <h3 class="name">Lana Komisarova</h3>
          <h4 class="title">Web developer</h4>
        </div>
        <a
          href="https://github.com/lanitochka"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/m0h4x.jpg" alt="Nikolai Domaev" />
        </div>
        <div class="team-content">
          <h3 class="name">Nikolai Domaev</h3>
          <h4 class="title">Content manager</h4>
        </div>
        <a href="https://github.com/m0h4x" class="social" target="_blank" rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
  </ul>
</div>
