<!-- Модальное окно просмотра информации о фильме -->
<template id="modalFilmTemplate">
  <div class="modal__container">
    <button class="modal__close-btn" aria-label="Close">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>

    <div class="modal-wrapper">
      <div class="modal-image">
        <img src="" alt="" width="396" height="478" />
      </div>
      <div class="modal-content">
        <h3></h3>
        <dl class="modal-meta">
          <dt>Vote / Votes</dt>
          <dd>
            <span data-attr="avg-rating">0</span> <i>/</i>
            <span data-attr="vote-count">0</span>
          </dd>

          <dt>Popularity</dt>
          <dd data-attr="popularity">0</dd>

          <dt>Original Title</dt>
          <dd data-attr="orig-title"></dd>

          <dt>Genre</dt>
          <dd data-attr="genre"></dd>
        </dl>
        <h4>About</h4>
        <p class="modal-overview" data-attr="overview"></p>
        <div class="button-row">
          <button type="button" class="modal-btn-watched"></button>
          <button type="button" class="modal-btn-queue"></button>
        </div>
      </div>
    </div>
  </div>
</template>
