<div class="container team__container is-hidden">
  <button
    type="button"
    class="team__container__icon-box"
    aria-label="Close"
    data-team__container-close
  >
    <svg class="team__container__icon-close" width="30" height="30">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <h2 class="team__container__title">Наша команда</h2>
  <ul class="gallery">
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/Alex-Stupak.jpg" alt="Алексей Ступак" />
        </div>
        <div class="team-content">
          <h3 class="name">Алексей Ступак</h3>
          <h4 class="title">Скрам-мастер</h4>
        </div>
        <a
          href="https://github.com/Alex-Stupak"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/PavloLevchenko.jpg" alt="Павел Левченко" />
        </div>
        <div class="team-content">
          <h3 class="name">Павел Левченко</h3>
          <h4 class="title">Тим-лидер</h4>
        </div>
        <a
          href="https://github.com/PavloLevchenko"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/sergiosergio2.jpg" alt="Любченко Сергей" />
        </div>
        <div class="team-content">
          <h3 class="name">Любченко Сергей</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a
          href="https://github.com/sergiosergio2"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card visually-hidden">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/no-cover.jpg" alt="Мария Криминская" />
        </div>
        <div class="team-content">
          <h3 class="name">Мария Криминская</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a
          href="https://github.com/krimuwka"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/sergey-lateralus.jpg" alt="Сергей Якущенко" />
        </div>
        <div class="team-content">
          <h3 class="name">Сергей Якущенко</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a
          href="https://github.com/sergey-lateralus"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/no-cover.jpg" alt="Oleksii" />
        </div>
        <div class="team-content">
          <h3 class="name">Oleksii</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a href="https://github.com/cr1m3s" class="social" target="_blank" rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/no-cover.jpg" alt="Lana" />
        </div>
        <div class="team-content">
          <h3 class="name">Lana</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a
          href="https://github.com/lanitochka"
          class="social"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
    <li class="gallery__card">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/command/m0h4x.jpg" alt="Nikolai Domaev" />
        </div>
        <div class="team-content">
          <h3 class="name">Nikolai Domaev</h3>
          <h4 class="title">Контент-менеджер</h4>
        </div>
        <a href="https://github.com/m0h4x" class="social" target="_blank" rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </li>
  </ul>
</div>
