<li class="film__card">
  <a class="film__link" href="#">
    <img class="film__cover" src="../images/no-cover.jpg" alt="Film cover" />
    <h3 class="film__title">{{filmTitle}}</h3>
    <div class="film__info">
      <span class="film__genre">Drama, Comedy</span><span class="film__year">2019</span>
    </div>
  </a>
</li>
