<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__icon-box" data-modal-close>
            <svg class="modal__icon-close">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <div>
  <div class="row">
      <h2 class="modal__title">Наша команда</h2>
    <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Алексей Ступак</h3>
          <h4 class="title">Скрам-мастер</h4>
        </div>
        <a href="https://github.com/Alex-Stupak" class="social">GitHub</a>
      </div>
    </div>
        <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
        </div>
        <div class="team-content">
          <h3 class="name">Павел Левченко</h3>
          <h4 class="title">Тим-лидер</h4>
        </div>
        <a href="https://github.com/PavloLevchenko" class="social">GitHub</a>
      </div>
    </div>
        <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
        </div>
        <div class="team-content">
          <h3 class="name">Любченко Сергей</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a href="https://github.com/sergiosergio2" class="social">GitHub</a>
      </div>
    </div>
        <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
        </div>
        <div class="team-content">
          <h3 class="name">Мария Криминская</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a href="https://github.com/krimuwka" class="social">GitHub</a>
      </div>
    </div>
    <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Сергей Якущенко</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a href="https://github.com/sergey-lateralus" class="social">GitHub</a>
      </div>
    </div>
    <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Oleksii</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a href="https://github.com/cr1m3s" class="social">GitHub</a>
      </div>
    </div>
    <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Lana</h3>
          <h4 class="title">Веб-разработчик</h4>
        </div>
        <a href="https://github.com/lanitochka" class="social">GitHub</a>
      </div>
    </div>
    <div>
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Nikolai Domaev</h3>
          <h4 class="title">Контент-менеджер</h4>
        </div>
        <a href="https://github.com/m0h4x" class="social">GitHub</a>
      </div>
    </div>
  </div>
</div>
		
    </div>
</div>