<header class="header" id="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="#" class="link header__logo">
        <svg class="logo-icon" width="24" height="24">
          <use href="images/icons.svg#film"></use>
        </svg>
      </a>
      <button class="home" type="button">Home</button>
      <button class="library" type="button">My Library</button>
    </nav>

    <div class="home-btns active">Кнопки главной страницы</div>
    <div class="library-btns">Кнопки библиотеки</div>
  </div>
</header>
