<!-- Модальное окно просмотра информации о фильме -->
<div class="modal__backdrop">
  <div class="modal__container">
    <button class="modal__close-btn">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>

    <div class="modal-wrapper">
      <div class="modal-image">
        <img src="https://cdn.pixabay.com/photo/2021/11/30/00/54/sweden-6834164_960_720.jpg" alt="" width="396"
          height="478">
      </div>
      <div class="modal-content">
        <h3>A FISTFUL OF LEAD</h3>
        <dl class="modal-meta">
          <dt>Vote / Votes</dt>
          <dd><span>7.3</span> <i>/</i> 1260</dd>

          <dt>Popularity</dt>
          <dd>100.2</dd>

          <dt>Original Title</dt>
          <dd>A FISTFUL OF LEAD</dd>

          <dt>Genre</dt>
          <dd>Western</dd>
        </dl>
        <h4>About</h4>
        <p>Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt
          settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with
          bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who
          themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they
          realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <div class="button-row">
          <button type="button" class="modal-btn-watched">ADD TO WATCHED</button>
          <button type="button" class="modal-btn-queue">ADD TO QUEUE</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <li class="film__card" data-modal-id=${id}>
  <a class="film__link" href="#">
    <img class="film__cover" src="${image}" alt="${title}" />
    <h3 class="film__title" data-orig-title="${original_title}">${title}</h3>
    <div class="film__info" data-vote-average="${vote_average}" data-vote-count="${vote_count}"
      data-popularity="${popularity}" data-overview="${overview}">
      <span class="film__genre">${genre_ids}</span>
      <span class="film__year">&nbsp${release_date}</span>
    </div>
  </a>
</li> -->