<!-- used svg icons
TODO: create one file for all svgs, optimize it -->
<div class="pagination">
  <a class="pag_link pag_arrow" href="#">
    <svg class="logo-icon">
      <use href="images/icons.svg#arrow-left"></use>
    </svg>
  </a>
  <a class="pag_link"  href="#">13</a>
  <span class="pag_dots">···</span>
  <a class="pag_link"  href="#">14</a>
  <a class="pag_link pag_active"  href="#">15</a>
  <a class="pag_link"  href="#">16</a>
  <span class="pag_dots">···</span>
  <a class="pag_link"  href="#">17</a>
  <a class="pag_link pag_arrow"  href="#">
    <svg class="logo-icon">
      <use href="images/icons.svg#arrow-right"></use>
    </svg>
  </a>
</div>