html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  overflow-x: hidden;
  background-color: getColor('bg-primary');
  font-family: 'Roboto', sans-serif;

  @media screen and (min-width: 320) {
    overflow-x: hidden;
  }
}

.disable-scroll {
  overflow: hidden;
}
