.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include _phone_gap {
    width: 320px;
  }

  @include _tablet {
    width: 768px;
  }

  @include _desktop {
    width: 1024px;
  }
}
